.login-form-container {
    margin-top: 32px;
    padding: 24px;
    width: 380px;
    padding-bottom: 32px;
}
.login-form .text-field {
    margin-bottom: 8px;
}


.domain-confirm-actions {
    margin-top: 8px;
}
.domain-confirm-actions button {
    margin-right: 4px; 
}